spec/* linguist-documentation
spec/functionTable/* linguist-documentation
spec/funDefTable/* linguist-documentation
spec/preLitTable/* linguist-documentation
spec/latex_tools/* linguist-documentation=false
